@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: $secondary-font;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;

  @include respond(md) {
    margin-left: 16rem;
  }
}

.container {
  width: 100%;
  padding: 2rem 1rem;

  @include respond(sm) {
    max-width: 640px;
  }

  @include respond(md) {
    max-width: 768px;
  }

  @include respond(lg) {
    max-width: 1024px;
  }

  @include respond(xl) {
    max-width: 1280px;
  }
}

.sr-only {
  @include absolute();
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.errorMessage {
  background-color: $red-100;
  color: $red-700;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  border-left-style: solid;
  border-left-color: $red-700;
  border-left-width: 4px;
}

.homeButton {
  @include flex(row, center);
  gap: 4px;
  text-decoration: none;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: #2563eb;
  width: fit-content;
}
