.layout {
  @include flex($justify: flex-start);
}

.sidebar {
  width: 16rem;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100%;
}
